@import url("https://fonts.googleapis.com/css?family=Arima:700|Roboto:400");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ecf8f7;
  font-family: "Roboto";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arima";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.dashboard-bg {
  background: rgba(194, 76, 86, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(194, 76, 86, 0.44);
}

.swiper-pagination-bullet-active {
  background-color: #c24c56 !important;
  border: 1px solid #ffffff;
}
